# OAuth Configuration
# Get these from Google Cloud Console (APIs & Services > Credentials)
# Authorized Redirect URI: https://your-app-url.run.app/api/auth/google/callback
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Database
MONGODB_URI=

# Secrets
JWT_SECRET=
ADMIN_SETUP_PASSWORD=
